<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MHaoBaBa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>941AC0B71E024EE0003831E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>941AC0D01E024EE1003831E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>941AC0DB1E024EE1003831E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
