<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>genre</key>
		<string></string>
		<key>tittle</key>
		<string></string>
		<key>age</key>
		<string></string>
		<key>content</key>
		<string></string>
	</dict>
	<dict>
		<key>genre</key>
		<string>怀孕反应</string>
		<key>tittle</key>
		<string>怀孕乳房变化</string>
		<key>quoted</key>
		<string>【导读】很多孕妈在怀孕的时候，乳房都会出现一些比较大的变化，那么你有仔细听过你的乳房说什么吗？怀孕的时候乳房胀痛到底是怎么回事？其实，乳房胀痛是正常的，但是如果疼痛超出范围，那就要小心是否会有乳腺疾病的变化了。这是一个很严肃的话题，我们都知道乳腺癌就是99%发生在女性身上的一种疾病，一直以来都受到大家的关注。在2015年1月16日，我们悲痛地知道著名歌手姚贝娜因乳腺癌去世，相信这也给很多女性朋友们一个警钟，目前乳腺癌已成为威胁女性身心健康的常见肿瘤，所以女人就应该好好爱护它，即使在孕期也要关注它！</string>
		<key>age</key>
		<string>0</string>
		<key>content</key>
		<string>怀孕乳房变化是怎么回事

“我的胸部本来很平，曾经想过隆胸，但是怀孕之后乳房突然就变大了，而且稍微一碰就感觉到疼痛…”这是一位孕妈网友的怀孕后的体会，相信这也是很多准妈妈在怀孕后感觉到的乳房上的变化。怀孕后乳房为什么会变大呢？又为什么会胀痛呢？这是正常的吗？怀孕乳房变化是怎么回事呢？
一般怀孕后几星期开始，准妈妈就会感觉到乳房肿胀，甚至有些疼痛，偶尔压挤乳头还会有粘稠淡黄的初乳产生。进入妊娠的第二个月时，乳房逐渐膨胀起来，十分柔软，并且由于乳腺的肥大，使得乳房会长出类似肿块的东西；接着，乳房皮肤下的血管变得明显突出。乳头也会渐渐变大，乳晕颜色由于色素沉淀的增加而日益加深，乳头的突出也较为显著。
这是怀孕后乳房的变化，那么乳房为什么会和以前不一样呢？这是因为受孕之后，体内荷尔蒙的改变，乳房也作出相应变化。这也是为了适应分娩后哺乳的需要。

怀孕乳房会变大吗

有些年轻的妈妈在怀孕后明显发现身体上的变化很明显，特别是乳房会变大且有胀痛的感觉。怀孕乳房会变大吗？怀孕乳房变大是不是正常的呢？这想必是很多新妈妈好奇的事，下面我们就一起来了解。
当妊娠期1个月之后，准妈妈通常就会出现害喜症状，此时乳房也开始改变，例如乳头变深、乳房正下方的血管越来越明显。大概是到了怀孕3～4个月时候，有些孕妈的乳房已开始变大，除了些微疼痛，偶而还会摸到肿块，这是乳腺发达以及荷尔蒙分泌增加的缘故，并且乳房表皮正下方会持续出现静脉曲张，乳头颜色也会变的更深，这都是正常的孕期生理现象。
这些变化是为了日后分泌乳汁所做的准备，因此准妈妈不必太紧张。几乎所有孕妇都会有肿胀的感觉，只是有些人并不会明显感觉疼痛，但有些人疼痛感甚至会持续到分娩以后。值得一提的是，孕期实际上还是丰胸美胸，让乳房再次发育的绝好时机。

怀孕乳房有分泌物怎么办

有经验的妈妈会告诉新手妈妈，怀孕期间要适当地按摩乳房，防止乳腺增生，这个经验之谈都是有科学依据的，这是因为怀孕期间，准妈妈因为荷尔蒙分泌增多，乳房会越涨越大。甚至会分泌出一些液体。这也是很正常的现象。
乳房胀痛是怀孕最早的征兆之一，一般来说是从4～6周左右开始，这种胀痛的感觉会持续整个孕早期。当到了怀孕3个月左右，有些孕妈妈的乳房已开始变大，除了些微疼痛，偶而还会出现一些分泌物，这是乳腺发达以及荷尔蒙分泌增加的缘故。妊娠4个月时，乳头、乳晕的皮脂有少许分泌物溢出，分泌物堆积易造成细菌的繁殖并可刺激皮肤，因此准妈妈应常用温热水擦洗。
孕期乳房的变化是为了日后分泌乳汁所做的准备，因此准妈妈也不必太紧张。如果实在乳房胀痛得难受，可以适当地按摩下乳房，缓解胀痛。

怀孕乳房痛怎么办

怀孕乳房痛怎么办呢？我们都知道，乳房胀痛是怀孕早期的一个标志。准妈妈进入孕期以后，乳房会发生变化这是很正常的生理反应。大约在怀孕1个月左右，乳房逐渐增大，并出现乳房胀痛感。那么怀孕乳房胀痛怎么办呢？
一般来说，在妊娠期间，这种胀痛一般持续3—4个月，稍微重点的可以持续整个孕期，当然有的人也会感觉痛感很明显。遇到这种情况，可以用热敷或按摩来解决，一般来说不需要治疗。
但是需要引起准妈妈们注意的是，孕期的激素水平变化也同样会导致一些疾病，如乳腺炎或乳腺癌，其症状容易被视为正常乳房变化而被忽视，所以建议准妈妈在怀孕期间至少能做一次乳腺检查，如果有异常可以及时清除。

怀孕乳房要怎么护理

怀孕后，乳房会慢慢地变大且会有胀痛的感觉，这是因为受孕之后，乳腺发达以及荷尔蒙分泌增多导致，作为准妈妈一定要呵护好乳房的健康，孕期更要加强乳房的护理，那么孕期要如何护理乳房呢?
第一、衣着宽松，穿着宽松舒适的胸衣，随着乳房逐月增大及时加大尺码。
第二、按摩乳房，洗浴后正确按摩乳房。经常用温和皂水擦洗乳晕和乳头皮肤，并将皮肤皱褶处擦洗干净。
第三、乳房清洁，如果乳头凹陷或扁平，在擦洗时用手轻柔地将乳头向外捏出来。
第四、睡姿恰当，睡眠时，注意采取适宜睡姿，最好取侧卧位或仰卧位。</string>
	</dict>
	<dict>
		<key>genre</key>
		<string></string>
		<key>tittle</key>
		<string></string>
		<key>age</key>
		<string></string>
		<key>content</key>
		<string></string>
	</dict>
	<dict>
		<key>genre</key>
		<string></string>
		<key>tittle</key>
		<string></string>
		<key>age</key>
		<string></string>
		<key>content</key>
		<string></string>
	</dict>
</array>
</plist>
