<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>pid</key>
		<string>0</string>
		<key>title</key>
		<string>母婴用品</string>
		<key>id</key>
		<string>0</string>
		<key>sub</key>
		<array>
			<dict>
				<key>pid</key>
				<string>01</string>
				<key>id</key>
				<string>01</string>
				<key>title</key>
				<string>婴幼儿食品</string>
				<key>sub</key>
				<array>
					<dict>
						<key>pid</key>
						<string>001</string>
						<key>ucid</key>
						<string>001</string>
						<key>title</key>
						<string>早产奶粉</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>002</string>
						<key>ucid</key>
						<string>002</string>
						<key>title</key>
						<string>磨牙饼干</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>003</string>
						<key>ucid</key>
						<string>003</string>
						<key>title</key>
						<string>抗过敏奶粉</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>004</string>
						<key>ucid</key>
						<string>004</string>
						<key>title</key>
						<string>婴儿奶粉</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>005</string>
						<key>ucid</key>
						<string>005</string>
						<key>title</key>
						<string>米粉</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>006</string>
						<key>ucid</key>
						<string>006</string>
						<key>title</key>
						<string>面条</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>007</string>
						<key>ucid</key>
						<string>007</string>
						<key>title</key>
						<string>粥</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>008</string>
						<key>ucid</key>
						<string>008</string>
						<key>title</key>
						<string>婴儿辅食</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>009</string>
						<key>ucid</key>
						<string>009</string>
						<key>title</key>
						<string>维生素</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0010</string>
						<key>ucid</key>
						<string>0010</string>
						<key>title</key>
						<string>DHA</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0011</string>
						<key>ucid</key>
						<string>0011</string>
						<key>title</key>
						<string>宝宝零食</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>pid</key>
				<string>02</string>
				<key>id</key>
				<string>02</string>
				<key>title</key>
				<string>婴幼儿喂养用品</string>
				<key>sub</key>
				<array>
					<dict>
						<key>pid</key>
						<string>020</string>
						<key>uid</key>
						<string>020</string>
						<key>title</key>
						<string>奶瓶/奶嘴</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>021</string>
						<key>uid</key>
						<string>021</string>
						<key>title</key>
						<string>婴儿湿巾</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>022</string>
						<key>uid</key>
						<string>022</string>
						<key>title</key>
						<string>纸尿裤</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>023</string>
						<key>uid</key>
						<string>023</string>
						<key>title</key>
						<string>耳温枪</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>024</string>
						<key>uid</key>
						<string>024</string>
						<key>title</key>
						<string>婴儿游泳池</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>025</string>
						<key>uid</key>
						<string>025</string>
						<key>title</key>
						<string>婴儿床</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>026</string>
						<key>uid</key>
						<string>026</string>
						<key>title</key>
						<string>宝宝餐椅</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>027</string>
						<key>uid</key>
						<string>027</string>
						<key>title</key>
						<string>腰凳</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>028</string>
						<key>uid</key>
						<string>028</string>
						<key>title</key>
						<string>防溢乳垫</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>029</string>
						<key>uid</key>
						<string>029</string>
						<key>title</key>
						<string>辅食料理机</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0210</string>
						<key>uid</key>
						<string>0210</string>
						<key>title</key>
						<string>吸奶器</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0211</string>
						<key>uid</key>
						<string>0211</string>
						<key>title</key>
						<string>暖奶消毒器</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0212</string>
						<key>uid</key>
						<string>0212</string>
						<key>title</key>
						<string>婴儿定型枕</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0213</string>
						<key>uid</key>
						<string>0213</string>
						<key>title</key>
						<string>储奶袋</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0214</string>
						<key>uid</key>
						<string>0214</string>
						<key>title</key>
						<string>儿童理发器</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0215</string>
						<key>uid</key>
						<string>0215</string>
						<key>title</key>
						<string>婴儿餐具</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0216</string>
						<key>uid</key>
						<string>0216</string>
						<key>title</key>
						<string>婴儿车</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0217</string>
						<key>uid</key>
						<string>0217</string>
						<key>title</key>
						<string>牙胶安抚</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0218</string>
						<key>uid</key>
						<string>0218</string>
						<key>title</key>
						<string>婴儿棉签</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0219</string>
						<key>uid</key>
						<string>0219</string>
						<key>title</key>
						<string>婴儿浴盆</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0220</string>
						<key>uid</key>
						<string>0220</string>
						<key>title</key>
						<string>坐便器</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0221</string>
						<key>uid</key>
						<string>0221</string>
						<key>title</key>
						<string>学步车</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0222</string>
						<key>uid</key>
						<string>0222</string>
						<key>title</key>
						<string>水壶/水杯</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0223</string>
						<key>uid</key>
						<string>0223</string>
						<key>title</key>
						<string>围兜/放溅衣</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0224</string>
						<key>uid</key>
						<string>0224</string>
						<key>title</key>
						<string>食物存储</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>pid</key>
				<string>03</string>
				<key>id</key>
				<string>03</string>
				<key>title</key>
				<string>婴儿洗护用品</string>
				<key>sub</key>
				<array>
					<dict>
						<key>pid</key>
						<string>030</string>
						<key>uid</key>
						<string>030</string>
						<key>title</key>
						<string>宝宝护肤</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0301</string>
						<key>uid</key>
						<string>0301</string>
						<key>title</key>
						<string>洗发沐浴</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0302</string>
						<key>uid</key>
						<string>0302</string>
						<key>title</key>
						<string>婴儿油</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0303</string>
						<key>uid</key>
						<string>0303</string>
						<key>title</key>
						<string>驱蚊</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0304</string>
						<key>uid</key>
						<string>0304</string>
						<key>title</key>
						<string>护臀霜</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0305</string>
						<key>uid</key>
						<string>0305</string>
						<key>title</key>
						<string>痱子粉</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0306</string>
						<key>uid</key>
						<string>0306</string>
						<key>title</key>
						<string>洗衣皂</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0307</string>
						<key>uid</key>
						<string>0307</string>
						<key>title</key>
						<string>防晒</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0308</string>
						<key>uid</key>
						<string>0308</string>
						<key>title</key>
						<string>口腔护理</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0309</string>
						<key>uid</key>
						<string>0309</string>
						<key>title</key>
						<string>洗澡用具</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0310</string>
						<key>uid</key>
						<string>0310</string>
						<key>title</key>
						<string>安全防护</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>pid</key>
				<string>04</string>
				<key>id</key>
				<string>04</string>
				<key>title</key>
				<string>婴儿寝居服饰</string>
				<key>sub</key>
				<array>
					<dict>
						<key>pid</key>
						<string>040</string>
						<key>uid</key>
						<string>040</string>
						<key>title</key>
						<string>040</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0401</string>
						<key>uid</key>
						<string>0401</string>
						<key>title</key>
						<string>婴儿鞋</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0402</string>
						<key>uid</key>
						<string>0402</string>
						<key>title</key>
						<string>婴儿袜子</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0403</string>
						<key>uid</key>
						<string>0403</string>
						<key>title</key>
						<string>婴儿内衣</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0405</string>
						<key>uid</key>
						<string>0405</string>
						<key>title</key>
						<string>婴儿服饰</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0406</string>
						<key>uid</key>
						<string>0406</string>
						<key>title</key>
						<string>婴儿帽子</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0407</string>
						<key>uid</key>
						<string>0407</string>
						<key>title</key>
						<string>家具床品</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>pid</key>
				<string>05</string>
				<key>id</key>
				<string>05</string>
				<key>title</key>
				<string>儿童玩具</string>
				<key>sub</key>
				<array>
					<dict>
						<key>pid</key>
						<string>050</string>
						<key>uid</key>
						<string>050</string>
						<key>title</key>
						<string>婴儿推车</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0501</string>
						<key>uid</key>
						<string>0501</string>
						<key>title</key>
						<string>三轮车</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0502</string>
						<key>uid</key>
						<string>0502</string>
						<key>title</key>
						<string>自行车</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0503</string>
						<key>uid</key>
						<string>0503</string>
						<key>title</key>
						<string>滑板车</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0504</string>
						<key>uid</key>
						<string>0504</string>
						<key>title</key>
						<string>电动车</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0505</string>
						<key>uid</key>
						<string>0505</string>
						<key>title</key>
						<string>遥控电动车</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0506</string>
						<key>uid</key>
						<string>0506</string>
						<key>title</key>
						<string>益智玩具</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0507</string>
						<key>uid</key>
						<string>0507</string>
						<key>title</key>
						<string>积木拼图</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0508</string>
						<key>uid</key>
						<string>0508</string>
						<key>title</key>
						<string>动漫玩具</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0509</string>
						<key>uid</key>
						<string>0509</string>
						<key>title</key>
						<string>毛绒布艺</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0510</string>
						<key>uid</key>
						<string>0510</string>
						<key>title</key>
						<string>模型玩具</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0511</string>
						<key>uid</key>
						<string>0511</string>
						<key>title</key>
						<string>健身玩具</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0512</string>
						<key>uid</key>
						<string>0512</string>
						<key>title</key>
						<string>DIY玩具</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0513</string>
						<key>uid</key>
						<string>0513</string>
						<key>title</key>
						<string>钢琴</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0514</string>
						<key>uid</key>
						<string>0514</string>
						<key>title</key>
						<string>电子琴</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0515</string>
						<key>uid</key>
						<string>0515</string>
						<key>title</key>
						<string>吉他</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0516</string>
						<key>uid</key>
						<string>0516</string>
						<key>title</key>
						<string>打击乐器</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0517</string>
						<key>uid</key>
						<string>0517</string>
						<key>title</key>
						<string>动画片</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0518</string>
						<key>uid</key>
						<string>0518</string>
						<key>title</key>
						<string>漫画书</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>pid</key>
				<string>06</string>
				<key>id</key>
				<string>06</string>
				<key>title</key>
				<string>孕妇用品</string>
				<key>sub</key>
				<array>
					<dict>
						<key>pid</key>
						<string>060</string>
						<key>uid</key>
						<string>060</string>
						<key>title</key>
						<string>护理垫</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0601</string>
						<key>uid</key>
						<string>0601</string>
						<key>title</key>
						<string>托腹裤</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0602</string>
						<key>uid</key>
						<string>0602</string>
						<key>title</key>
						<string>胎心仪</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0603</string>
						<key>uid</key>
						<string>0603</string>
						<key>title</key>
						<string>孕妇枕头</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0604</string>
						<key>uid</key>
						<string>0604</string>
						<key>title</key>
						<string>孕妇装</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0605</string>
						<key>uid</key>
						<string>0605</string>
						<key>title</key>
						<string>孕妇内衣</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0606</string>
						<key>uid</key>
						<string>0606</string>
						<key>title</key>
						<string>一次性内裤</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0607</string>
						<key>uid</key>
						<string>0607</string>
						<key>title</key>
						<string>吸奶器</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0608</string>
						<key>uid</key>
						<string>0608</string>
						<key>title</key>
						<string>收腹带</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0609</string>
						<key>uid</key>
						<string>0609</string>
						<key>title</key>
						<string>孕妇内裤</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0610</string>
						<key>uid</key>
						<string>0610</string>
						<key>title</key>
						<string>乳头保护罩</string>
					</dict>
					<dict>
						<key>pid</key>
						<string>0611</string>
						<key>uid</key>
						<string>0611</string>
						<key>title</key>
						<string>乳头矫正器</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
